<footer>
   <div>
     <div>
        <h1> Coding Ninjas,All Rights Reserved</h1>   
     </div>
     <div>
        <ul>
            <li><a href="http://localhost:8000">Home</a></li>
            <li><a href="http://localhost:8000/users/profile">Profile</a></li>
        </ul>
     </div>
   </div> 
</footer>