<footer>
   <div>
     <div>
        <h1> Coding Ninjas,All Rights Reserved</h1>   
     </div>
     <div>
        <ul>
            <li><a href="/">Home</a></li>
            <%if(locals.user){%>
               <li><a href="/users/profile/<%=locals.user.id%>">Profile</a></li>
            <%}else{%>
               <li><a href="/users/sign-in">Profile</a></li>
            <%}%>
        </ul>
     </div>
   </div> 
</footer>