<!-- <html>
    <head>
        <title><%=title%></title>
    </head>
    <body>
        <h1>Codeial/<%=title%></h1>
    </body>
</html> -->
<h1>Sign In</h1>
<form action="/users/create-session" method="POST">
    <input type="email"name="email"placeholder="Email"required>
    <input type="password"name="password"placeholder="Password"required>
    <input type="submit"value="Sign In">
</form>
<!-- <html>
    <head>
        <title>
            <%= title %>
        </title>
        <link rel="stylesheet" href="/css/home.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    
</html> -->